<%- include ("./partials/header") %>
<div>
    <% if (objects && objects.length > 0) { %>
    <h1 class="category-title">Category: <%= objects[0].category %></h1>
    <div class="category-container container">
        <div class="object-list row">
            <% objects.forEach((object) => { %>
                <div class="col-md-3">
                    <a href="/objects/<%= object._id %>" style="color: inherit; text-decoration: none">
                        <div class="object-container">
                            <div class="object-image-container">
                                <img src="<%= '/uploads/' + object.image %>" alt="<%= object.title %>" />
                            </div>
                            <div class="object-details-container">
                                <p class="object-description"><%= object.category %></p>
                                <h2 class="object-title"><%= object.title %></h2>
                                <p class="object-price"><%= object.startingPrice %> DZD</p>
                            </div>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
    <% } else { %>
    <h1 class="category-title">Category empty</h1>
    <% } %>
</div>
<%- include ("./partials/footer") %>

<style>
    .category-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 40px 20px;
    }

    .category-title {
        margin-top: 10px;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }

    .object-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 20px;
    }

    .object-container {
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        overflow: hidden;
        transition: all 0.3s ease;
        width: 100%;
        max-width: 350px; /* Adjust the width as needed */
        max-height: 400px;
        margin-bottom: 20px;
    }

    .object-container:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    .object-image-container {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .object-image-container img {
        max-width: 100%;
        max-height: 200px;
        object-fit: contain;
    }

    .object-details-container {
        padding: 20px;
    }

    .object-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .object-description {
        margin-bottom: 10px;
    }

    .object-price {
        font-size: 20px;
        font-weight: bold;
    }
</style>
